<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/BaseStyle")
    @Styles.Render("~/" + HttpContext.Current.Request.RequestContext.RouteData.DataTokens["area"])
    @Scripts.Render("~/Modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("Home/Index", "Index", "Home")

                @Html.ActionLink("Home/Index", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })

                @Html.ActionLink("Hello/Test", "Test", "Hello", new { area = "" }, new { @class = "navbar-brand" })

                <a href="/Hello/Test" class="navbar-brand">Old Link</a>

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav"></ul>
            </div>
        </div>
    </div>

    <div class="container body-content">

        <h2>Webshop Layout from root</h2>

        @RenderBody()

        @(HttpContext.Current.Request.Url)

        <footer></footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>